body {
  background: #616161;
  margin: 10px;
  margin-top: 20px;
  margin-left: 30px;
  color: #212121;
  font-family: Bookman;
}

#gameBoard {
  border-radius: 25px;
  border: 5px solid #424242;
  width: 800px;
  height: auto;
  padding-bottom: 30px;
  margin: auto;
  background: #757575;
}

#serverChoice {
  margin: auto;
  width: 350px;
  height: 350px;
}

#serverChoiceImage {
  width: 300px;
  height: 300px;
  margin: 40px;
  margin-left: 25px;
}

#userChoices {
  margin-top: 50px;
}

.userChoiceDiv {
  text-align: center;
}

.userChoiceImage {
  width: 120px;
  height: 120px;
}

.btn {
  padding: 0px;
  border-radius: 19px;
}

#rockChoice {
  padding-left: 120px;
}

#scissorsChoice {
  padding-right: 120px;
}

#title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: #ffffff;
  font-family: "Press Start 2P", cursive;
}

#gameMessage {
  margin-top: 50px;
  text-align: center;
  color: #ffffff;
  font-family: 'Vast Shadow', cursive;
  font-size: 40px;
}
